
.featureicon {
	width: 12%;
	height: 12%;
	margin-right : 5%;
}

.featureicon1 {
	width: 90%;
	height: 90%;
	padding:10%;
	
}

#hero .btn-enroll {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #FF5E33;
  width:235px;
  text-align: center;
}


