body, html {
  height: 100%;
  margin: 0;
}

.bg {

  /* The image used */
  background-image: url("../img/under_constrction_mobile.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
    .bg {
        background-image: url("../img/under_constrction.png");
    }
}

#back {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  background-color:#0099ff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    #back {
        left: 12%; 
		top: 65%;
    }
}